body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  margin: 3em auto;
  max-width: 800px;
  width: 90vw;
}

.login-page {
  border: 1px solid rgb(202, 201, 201);
  border-radius: .5em;
  text-align: center;
}

.login-header {
  text-align: center;
}

.login-button {
  margin-top: 1em;
}

.nav {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(22, 110, 243);
  margin-bottom: 1em;
}

.nav > div > span {
  margin-left: 1em;
  padding: .5em;
}

.logout {
  float: right;
}

.questions-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(202, 201, 201);
  border-radius: .5em;
  overflow: hidden;
}

.question-container {
  width: 75%;
  margin: 0 auto;
}

.questions-content {
  overflow: scroll;
  height: 80vh;
}

.list {
  margin: 3em auto;
  list-style: none;
  padding: 0;
  width: 75%;
}

.question {
  margin-top: 1em;
  background-color: white;
  border-radius: .5em;
  border: 1px solid rgb(202, 201, 201);
  overflow: hidden;
}

.new-question {
  text-align: center;
}

.question-form {
  padding: 1em;
}

.options {
  width: 75%;
  margin: 1em auto;
}

.header {
  border-bottom: 1px solid rgb(218, 214, 214);
  padding: 1em;
  margin: 0 auto 1em;
  background-color: rgb(243, 241, 241);
}

.content {
  padding: 1em;
}

.view-poll, .submit-poll {
  margin-top: 1em;
  width: 100%;
}

.author {
  text-align: center;
  border-right: 1px solid rgb(218, 214, 214);
}

.avatar {
  width: 6em;
  border-radius: 50%;
  margin: 0 auto;
}

.mini-avatar {
  width: 2em;
  border-radius: 50%;
  margin-left: .5em;
  margin-right: 2em;
}

.result {
  border: 2px solid rgb(6, 131, 180);
  border-radius: .5em;
  padding: 1em;
  margin-top: 1em;
  color: rgb(6, 131, 180);
}

.answer {
  background-color: rgb(229, 242, 248);
}

.option {
  margin: 1em 0 0 1em;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: rgb(6, 131, 180);
}

.tabs {
  border-bottom: 1px solid rgb(202, 201, 201); 
  text-align: center;
}

.tab {
  border: none;
  width: 50%;
  letter-spacing: 1px;
  font-weight: 700;
  padding: .5em 0;
}

.active {
  background-color: rgb(243, 241, 241);
  color: rgb(22, 110, 243);
}

.inactive {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}

input[type='text'] {
  width: 100%;
}