body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.questions {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid rgb(214, 44, 172);
  margin-top: 2em;
}

.list {
  margin: 2em;
}

.tabs {
  border-bottom: 2px solid rgb(214, 44, 172);
  box-shadow: 0px 3px 5px grey;
  text-align: center;
}

.tab {
  border: none;
  width: 50%;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 700;
  padding: .5em 0;
}

.active {
  background-color: rgb(214, 44, 172);
  color: white;
}

.inactive {
  color: rgb(214, 44, 172);
}

button:focus {
  outline: none;
}